:root {
  --duration: 1.6s;
  --easing: cubic-bezier(0.72, 0.03, 0.28, 0.97);
}

body {
  background: #000;
  height: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down {
  position: relative;
  animation: down var(--duration) ease-in infinite both;
}

.up {
  animation: up var(--duration) ease-in-out infinite both;
}

.squeeze {
  transform-origin: 50% 100%;
  animation: squeeze var(--duration) var(--easing) infinite both;
}

.rotate-in {
  animation: rotate-in var(--duration) ease-out infinite both;
}

.rotate-out {
  animation: rotate-out var(--duration) ease-in infinite both;
}

.square {
  width: 200px;
  height: 200px;
  background: #2e9b58;
  border-radius: 2px;
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }
  20%,
  100% {
    transform: translateY(0);
  }
}

@keyframes up {
  0%,
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes squeeze {
  0%,
  4% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.8, 0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(-135deg);
  }
  20%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-out {
  0%,
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(135deg);
  }
}
